.inv-input-file > input {
  display: none;
}

.inv-input-file__label {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px;
}

.inv-input-file__label:hover {
  background-color: red;
}

.inv-input-file__label:active {
  background-color: purple;
}
